<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>WasClient</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/logo/logo.png">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="/vendor/icon-hs/style.css">

  <link rel="stylesheet" href="/vendor/hs-admin-icons/hs-admin-icons.css">

  <link rel="stylesheet" href="/vendor/animate.css">
  <link rel="stylesheet" href="/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

  <link rel="stylesheet" href="/vendor/flatpickr/dist/css/flatpickr.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap-select/css/bootstrap-select.min.css">

  <link rel="stylesheet" href="/vendor/chartist-js/chartist.min.css">
  <link rel="stylesheet" href="/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css">
  <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="/css/unify-admin.css">
  <link  rel="stylesheet" href="/vendor/custombox/custombox.min.css">
  <link rel="stylesheet" href="/vendor/noty/lib/noty.css">
  <link rel="stylesheet" href="/css/font-awesome-animation.min.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <!-- CSS Customization -->
</head>

<body >
  <!-- Header -->
  <header id="js-header" class="u-header u-header--sticky-top">
    <div class="u-header__section u-header__section--admin-dark g-min-height-65">
      <nav class="navbar no-gutters g-pa-0">
        <form id="searchMenu" class="u-header--search col-sm g-py-12 g-ml-15--sm g-ml-20--md g-mr-10--sm" aria-labelledby="searchInvoker" action="#!">
          <div class="input-group g-max-width-450">
            <input class="form-control form-control-md g-rounded-4" type="text" placeholder="Buscar">
            <button type="submit" class="btn u-btn-outline-primary g-brd-none g-bg-transparent--hover g-pos-abs g-top-0 g-right-0 d-flex g-width-40 h-100 align-items-center justify-content-center g-font-size-18 g-z-index-2"><i class="hs-admin-search"></i>
            </button>
          </div>
        </form>

        <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">

          <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
            <div class="g-pos-rel g-px-10--lg">
              <a id="profileMenuInvoker" class="d-block" href="#!" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
              data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                <span class="g-pos-rel">
        <span class="u-badge-v2--xs u-badge--top-right g-hidden-sm-up g-bg-lightblue-v5 g-mr-5"></span>
                <img class="g-width-30 g-width-40--md g-height-30 g-height-40--md rounded-circle g-mr-10--sm" src="/img-temp/user.png" alt="Image description">
                </span>
                <span class="g-pos-rel g-top-2">
                  <span class="g-hidden-sm-down nombre_user"></span>
                <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                </span>
              </a>

              <!-- Top User Menu 
              <ul id="profileMenu" class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded" aria-labelledby="profileMenuInvoker">
                <li class="g-mb-10">
                  <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="#!">
                    <span class="d-flex align-self-center g-mr-12">
                      <i class="hs-admin-user"></i>
                    </span>
                    <span class="media-body align-self-center">Perfil</span>
                  </a>
                </li>
                <li class="mb-0">
                  <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="#!" onclick="logout();">
                    <span class="d-flex align-self-center g-mr-12">
                      <i class="hs-admin-shift-right"></i>
                    </span>
                    <span class="media-body align-self-center">Salir</span>
                  </a>
                </li>
              </ul>
               End Top User Menu -->
            </div>
          </div>
          <!-- End Top User -->
        </div>
  
      </nav>
      <section class="g-pa-16">
          <div class="media align-items-center u-link-v5 g-color-white">
          </div>
        </section>
      </div>
      <!-- End Top Activity Panel -->

    </div>
  </header>
  <!-- End Header -->

  <main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
      <!-- End Sidebar Nav -->

      <!-- JS Global Compulsory -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/jquery-migrate/jquery-migrate.min.js"></script>

      <script src="/vendor/popper.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>

      <script src="/vendor/cookiejs/jquery.cookie.js"></script>


      <!-- jQuery UI Core -->
      <script src="/vendor/jquery-ui/ui/widget.js"></script>
      <script src="/vendor/jquery-ui/ui/version.js"></script>
      <script src="/vendor/jquery-ui/ui/keycode.js"></script>
      <script src="/vendor/jquery-ui/ui/position.js"></script>
      <script src="/vendor/jquery-ui/ui/unique-id.js"></script>
      <script src="/vendor/jquery-ui/ui/safe-active-element.js"></script>

      <!-- jQuery UI Helpers -->
      <script src="/vendor/jquery-ui/ui/widgets/menu.js"></script>
      <script src="/vendor/jquery-ui/ui/widgets/mouse.js"></script>

      <!-- jQuery UI Widgets -->
      <script src="/vendor/jquery-ui/ui/widgets/datepicker.js"></script>

      <!-- JS Plugins Init. -->
      <script src="/vendor/appear.js"></script>
      <script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
      <script src="/vendor/flatpickr/dist/js/flatpickr.min.js"></script>
      <script src="/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/vendor/chartist-js/chartist.min.js"></script>
      <script src="/vendor/chartist-js-tooltip/chartist-plugin-tooltip.js"></script>
      <script src="/vendor/fancybox/jquery.fancybox.min.js"></script>

      <!-- JS Unify -->
      <script src="/js/hs.core.js"></script>
      <script src="/js/components/hs.side-nav.js"></script>
      <script src="/js/helpers/hs.hamburgers.js"></script>
      <script src="/js/components/hs.range-datepicker.js"></script>
      <script src="/js/components/hs.datepicker.js"></script>
      <script src="/js/components/hs.dropdown.js"></script>
      <script src="/js/components/hs.scrollbar.js"></script>
      <script src="/js/components/hs.area-chart.js"></script>
      <script src="/js/components/hs.donut-chart.js"></script>
      <script src="/js/components/hs.bar-chart.js"></script>
      <script src="/js/helpers/hs.focus-state.js"></script>
      <script src="/js/components/hs.popup.js"></script>


      <script  src="/vendor/custombox/custombox.min.js"></script>
      <script  src="/js/components/hs.modal-window.js"></script>
      <script src="/vendor/noty/lib/noty.min.js"></script>
      <script src="/vendor/table-edits/build/table-edits.min.js"></script>
      <script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
      <script src="/js/components/hs.datatables.js"></script>
      <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
      <script src="/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
      <script src="/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
      <script src="/js/components/hs.onscroll-animation.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
      <!-- JS Custom -->
      <script src="/js/custom.js"></script>
      <!-- JS Plugins Init. -->
      <script>
      $(document).on('ready', function () {


      // initialization of custom select
      $('.js-select').selectpicker();

      // initialization of hamburger
      $.HSCore.helpers.HSHamburgers.init('.hamburger');

      // initialization of charts
      $.HSCore.components.HSAreaChart.init('.js-area-chart');
      $.HSCore.components.HSDonutChart.init('.js-donut-chart');
      $.HSCore.components.HSBarChart.init('.js-bar-chart');

      // initialization of sidebar navigation component
      $.HSCore.components.HSSideNav.init('.js-side-nav', {
      afterOpen: function() {
      setTimeout(function() {
        $.HSCore.components.HSAreaChart.init('.js-area-chart');
        $.HSCore.components.HSDonutChart.init('.js-donut-chart');
        $.HSCore.components.HSBarChart.init('.js-bar-chart');
      }, 400);
      },
      afterClose: function() {
      setTimeout(function() {
        $.HSCore.components.HSAreaChart.init('.js-area-chart');
        $.HSCore.components.HSDonutChart.init('.js-donut-chart');
        $.HSCore.components.HSBarChart.init('.js-bar-chart');
      }, 400);
      }
      });

      // initialization of range datepicker
      $.HSCore.components.HSRangeDatepicker.init('#rangeDatepicker, #rangeDatepicker2, #rangeDatepicker3');

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {dropdownHideOnScroll: false});

      // initialization of custom scrollbar
      $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));

      // initialization of popups
      $.HSCore.components.HSPopup.init('.js-fancybox', {
        btnTpl: {
        smallBtn: '<button data-fancybox-close class="btn g-pos-abs g-top-25 g-right-30 g-line-height-1 g-bg-transparent g-font-size-16 g-color-gray-light-v3 g-brd-none p-0" title=""><i class="hs-admin-close"></i></button>'
        }
      });
      });

      function logout() {
          console.log(document.cookie);
          eraseCookie('user_doc');
          eraseCookie('user_tipo');
          eraseCookie('user_id');
          $.delete(ip_server+"api/logout", {
          }).done (function(response){
              if (response.code == 200) {
                  window.location = "/login"
              }else{
              }
          }).fail(function(response){
              //console.log(response);
          });
      }
      </script>
      <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
        <div id="conte1">
          <div class="row">
